/* Mulish font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --clr-primary: #ff5400;
  --clr-white: #fff;
  --Dark-01: #131318;
  --Dark-02: #424247;
}
/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
}

img,
picture,
video,
canvas {
  width: 100%;
  user-select: none;
  display: block;
}

/* Shared styles */
.container {
  width: 81.25%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.section__description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.section__title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.align-center {
  text-align: center;
}

.btn__primary {
  border-radius: 8px;
  background: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  padding: 14px 34px;
  font-size: 1.25rem;
  font-weight: 800;
}

.hide {
  display: hidden;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.header__logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__logoText {
  color: var(--Dark-01);
  font-size: 2.25rem;
  font-weight: 800;
}
.header__logoText > span {
  color: var(--clr-primary);
  font-size: 2.25rem;
  font-weight: 800;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 2.75rem;
}

.header__menu .header__link {
  text-decoration: none;
  color: var(--Dark-02);
  font-size: 1.125rem;
  font-weight: 400;
}
.header__menu .header__link.active {
  color: var(--clr-primary);
  font-size: 1.125rem;
  font-weight: 700;
}

.header__mobileMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
}
.header__mobileMenu > li {
  width: 100%;
  text-align: center;
}
.header__mobileMenu > .header__closeSidebar {
  position: absolute;
  top: 7px;
  justify-content: end;
  padding-right: 10px;
  display: flex;
}

.header__bars {
  display: none;
}

/* Banner Section */
#banner {
  background-image: url('../Images/Group 13 (1) (1).png');
  background-size: cover;
  background-position: center center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 16px;
  margin-bottom: 100px;
}
#banner::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%);
  z-index: 100;
}

.banner__contentContainer {
  max-width: 768px;
  text-align: center;
  z-index: 200;
}
.banner__contentContainer .section__description {
  max-width: 676px;
  color: var(--clr-white);
  margin-right: auto;
  margin-left: auto;
}
.banner__title {
  color: var(--clr-white);
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 48px;
}

.banner__form > input,
.banner__form > select {
  /* width: 174px; */
  width: calc(174px - 16px);
  flex: 1;
}

.banner__form > input,
.banner__form > select,
.banner__form > input:placeholder-shown {
  padding: 16px;
  border: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
}

.banner__form > .banner__formBtn {
  padding: 16px 34px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.search-icon {
  width: 24px;
  height: 24px;
  /* display: inline-flex; */
}

/* popular tours  */
#popular-tours {
  display: flex;
  gap: 3.125rem;
  margin-bottom: 100px;
}
#popular-tours ul > li {
  list-style: inside;
  margin-bottom: 1rem;
}
#popular-tours ul > li:nth-child(1) {
  margin-top: 24px;
}
#popular-tours ul {
  margin-bottom: 30px;
}

/* choose destination */
#choose-destination {
  margin-bottom: 100px;
}
#choose-destination p.section__description {
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.choose-destination__grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.choose-destination__grid-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  grid-column: 1 / span 6;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 5.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-destination__grid-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  grid-column: 7 / span 6;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 8.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-destination__grid-item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  grid-column: 1 / span 4;
  height: 286px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 6.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-destination__grid-item4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  grid-column: 5 / span 5;
  height: 286px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 7.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-destination__grid-item5 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  grid-column: 10 / span 3;
  height: 286px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 9.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-destination__grid-item6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  height: 300px;
  grid-column: 1 / span 5;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 11.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}
.choose-destination__grid-item7 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  grid-column: 6 / span 7;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%, rgba(19, 19, 24, 0.2) 100%),
    url('../Images/Rectangle 10.png') no-repeat, lightgray 50% / cover no-repeat;
  background-size: cover;
  background-position: center center;
}

/* why choose us */
#choose-us {
  margin-bottom: 100px;
}
.choose-us__cards-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 32px 0 16px;
}
.choose-us__cards-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
#choose-us > header {
  text-align: center;
  max-width: 643px;
  margin: 0 auto 48px;
}
#choose-us > main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.choose-us__card {
  width: calc(573px - 64px);
  padding: 32px;
  border-radius: 16px;
}
#choose-us__card1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#choose-us__card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#choose-us__card3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* deals & discounts */
#deals {
  margin-bottom: 100px;
}
#deals header {
  margin-bottom: 48px;
}
#deals .section__description {
  max-width: 643px;
  margin-right: auto;
  margin-left: auto;
}

#deals main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

div[class^='deals__outerbox'] {
  width: 100%;
  padding: 56px;
  display: flex;
  background-size: cover;
}
.deals__outerbox1 {
  justify-content: flex-end;
  background: url('../Images/Group 39.png');
  background-repeat: no-repeat;
}
.deals__outerbox2 {
  /* justify-content: flex-end; */
  background: url('../Images/Group 40.png');
  background-repeat: no-repeat;
}
.deals__outerbox3 {
  justify-content: flex-end;
  background: url('../Images/Group 39.png');
  background-repeat: no-repeat;
}
div[class^='deals__innerbox'] {
  width: 579px;
  padding: 50px 77px 50px 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.deals__box-icons,
.deals__box-icons > span {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.deals__box-icons > span > p {
  color: #5a5a5d;
}
.deals__main-content > span {
  display: block;
  color: #ff5400;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 16px 0px 24px;
}

/* adverstisement */
#adverstisement {
  display: flex;
  gap: 28px;
}
#adverstisement .section__title {
  max-width: 448px;
}
#adverstisement ul {
  list-style-position: inside;
  margin: 25px 0;
}
#adverstisement ul > li:nth-child(1) {
  margin-bottom: 1rem;
}
.advertisement__video iframe {
  border-radius: 20px;
}

/* newsletter */
#newsletter {
  margin: 100px auto;
  display: flex;
  gap: 24px;
}
.newsletter__title {
  margin-bottom: 1rem;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
#newsletter .section__description {
  margin-bottom: 48px;
}
.newsletter__form {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
#newsletter input {
  display: block;
  width: 100%;
  padding: 18px;
  margin-bottom: 18px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}

.newsletterimg {
  position: relative;
  width: 100%;
}

.newsletterimg > .newsletter__promotag {
  position: absolute;
  bottom: 47px;
  right: 6px;
  border-radius: 16px;
  background: var(--clr-primary);
  text-align: center;
  transform: rotate(-19.628deg);
  width: 324px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
}
.newsletter__promotag h2 {
  font-size: 32px;
  font-weight: 800;
}

/* footer */
footer {
  background: rgba(19, 19, 24, 0.05);
  padding-top: 110px;
}
footer .section__description {
  max-width: 769px;
  margin: 15px auto 33px;
  color: #5a5a5d;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 50px;
}
footer hr {
  margin-bottom: 50px;
  color: #131318;
}
.fa-brands {
  cursor: pointer;
  font-size: 2rem;
}
.copyright {
  padding-bottom: 2rem;
}
/* responsive styles*/
@media (max-width: 600px) {
  .section__description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px; /* 162.5% */
  }

  .container {
    width: 89.33%;
  }
  .header__menu {
    display: none;
  }
  .header__bars {
    display: block;
  }

  .header__logoText {
    color: var(--Dark-01);
    font-size: 1.3464rem;
    font-weight: 800;
  }
  .header__logoText > span {
    color: var(--clr-primary);
    font-size: 1.3464rem;
    font-weight: 800;
  }
  .header__logo {
    height: 28.724px;
    width: 33.516px;
  }
  .header__logoWrapper {
    gap: 0.6219rem;
  }

  /* banner */
  #banner {
    padding-right: 16px;
    padding-left: 16px;
    /* height: 100%; */
  }
  .banner__form {
    flex-direction: column;
  }
  .banner__form > * {
    width: 100%;
  }
  .banner__form > input,
  .banner__form > select {
    width: 100%;
  }
  .banner__form {
    margin-top: 32px;
  }
  .banner__title {
    font-size: 1.375rem;
    font-weight: 800;
    margin-bottom: 8px;
  }

  /* popular tours  */
  #popular-tours {
    flex-direction: column;
    gap: 1.5rem;
  }

  /* choose destination */
  .choose-destination__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .choose-destination__grid-container > div {
    grid-column: span 1;
  }

  div[class^='deals__innerbox'] {
    padding: 25px;
  }
  div[class^='deals__outerbox'] {
    padding: 187px 16px 16px 16px;
  }
  .deals__box-icons,
  .deals__box-icons > span {
    gap: 1.3rem;
  }
  .deals__main-content > .choose-us__cards-description {
    display: none;
  }
  .mobile.choose-us__cards-description {
    display: block;
  }

  .deals__main-content > span {
    margin: 12px 0;
  }
  div[class^='deals__innerbox'] {
    width: 100%;
  }

  #adverstisement {
    flex-direction: column;
    gap: 1rem;
  }
  .advertisement__video iframe {
    border-radius: 20px;
    width: 100%;
  }
  #newsletter {
    flex-direction: column;
    gap: 1rem;
  }
  .newsletterimg {
    width: 335px;
    height: 300px;
  }
  .newsletterimg > .newsletter__promotag {
    width: 214.023px;
    height: 79.268px;
    bottom: 30px;
    right: 3px;
  }
  .newsletter__promotag > h2 {
    font-size: 21.138px;
  }
}
